# Exemplo:
# Quando se escreve X no URL manda para essa página
# RewriteRule  ^/?X$ page.php?ct=controller&mt=method
# [QSA] deixa passar o que estava no URL 

# Redirect to a page inside /public with 404.php
ErrorDocument 404 /404.php

RewriteEngine on

# Route para login
RewriteRule  ^/?login$ index.php?ct=usercontroller&mt=login

# Route para register (precisa de passar a hash no URL)
RewriteRule  ^/?register$ index.php?ct=usercontroller&mt=register [QSA]

# Route para indexes
RewriteRule  ^/?indexes$ index.php?ct=indexescontroller&mt=indexes

# Route para logs
RewriteRule  ^/?logs$ index.php?ct=logscontroller&mt=logs

# Route para auth
RewriteRule  ^/?auth$ index.php?ct=authcontroller&mt=auth

# Route para zip
RewriteRule  ^/?zip$ index.php?ct=zipcontroller&mt=zip

# Route para logout
RewriteRule  ^/?logout$ index.php?ct=usercontroller&mt=logout